.header-logo {
  float: left; }

nav.menu-principal-container {
  clear: both; }

.slide-home .item {
  height: 300px;
  font-size: 30px;
  text-align: center;
  line-height: 284px;
  background-color: #ccc; }

.conteudo-info {
  height: 200px; }

footer {
  height: 50px; }
