@import 'base/reset';

@import 'base/grid';
@import 'base/fonts';

@import 'helpers/variaveis';
@import 'helpers/mixins';
@import 'helpers/functions';

.header-logo {
	float: left;
}

.slide-home .item {
	height: 300px;
	font-size: 30px;
	text-align: center;
	line-height: 284px;
	background-color: #ccc;
}

.conteudo-info {
	height: 200px;
}

footer {
	height: 50px;
}
