@import 'font-awesome';

@font-face {
  font-family: 'Sentinel-BlackItalic';
  src: url('../fonts/Sentinel-BlackItalic.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/Sentinel-BlackItalic.woff') format('woff'), 
        url('../fonts/Sentinel-BlackItalic.ttf')  format('truetype'), 
        url('../fonts/Sentinel-BlackItalic.svg#Sentinel-BlackItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}